<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AllowedDomain" value="CORP.LOCAL" />
    <add key="AllowedUser" value="CORP\\svc_pdf_runner" />
    <add key="WkhtmltopdfPath" value="C:\\Program Files\\wkhtmltopdf\\bin\\wkhtmltopdf.exe" />
    <add key="LogDirectory" value="C:\\ProgramData\\DomainHtmlToPdfConverter\\Logs" />
  </appSettings>
</configuration>
